{{ define "main" }}
<main>
  <article>
    <h1>{{ .Title }} {{ if .Params.on_favorites -}}&Star;{{- end -}}</h1>
    {{- with .GetTerms "tags" }}
    <span>
      Tags: {{ range $k, $v := . }} {{- if $k }}, {{ end }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
    </span>
    {{- end -}} {{ if or .Params.cook_time .Params.prep_time .Params.total_time
    }}
    <span>
      {{ with.Params.prep_time }}| Prep time: {{ . }}{{ end }} {{ with
      .Params.cook_time }}| Cook time: {{ . }}{{ end }} {{ with
      .Params.total_time }}| Total time: {{ . }}{{ end }}
    </span>
    {{ end -}} {{ if or .Params.source_url .Params.source }}
    <p>
      Adapted from {{ with .Params.source_url }}
      <a href="{{ . }}" target="_blank">
        {{ end }}{{ with .Params.source }}{{ . }}{{ end }}{{ with
        .Params.source_url}}
      </a>
      {{ end }}
    </p>
    {{ end -}} {{- with .Params.description}}
    <p>{{ . | markdownify }}</p>
    {{ end }} {{- with .Params.ingredients -}}
    <h2>Ingredients</h2>
    <ul class="ingredients">
      {{ range . }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
    {{ end }} {{ with .Params.directions }}
    <h2>Cooking Directions</h2>

    <div class="instructions">
      {{ range . }}
      <p>{{ . | markdownify }}</p>
      {{ end }}
    </div>
    {{ end }} {{ with .Params.notes }}
    <h2>Notes</h2>
    <p>{{ . | markdownify }}</p>
    {{ end }}
  </article>
</main>
{{ end }}
