{{ define "main" }}
<main>
  {{ $taxonomy := "categories" }} {{ $section := "recipes" }} {{ range $term,
  $weightedPages := index site.Taxonomies $taxonomy }} {{ $termPage :=
  site.GetPage (printf "%s/%s" $taxonomy $term) }}
  <h2>
    <!--<a href="{{ $termPage.RelPermalink }}">{{ $termPage.LinkTitle }}</a>-->
    {{ $termPage.LinkTitle }}
  </h2>
  <ul class="recipe-list">
    {{ range where $weightedPages "Page.Section" $section }} {{ partial
    "recipe-card.html" . }} {{ end }}
  </ul>
  {{ end }}
</main>
{{ end }}
