ul.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
}

ul.recipe-list li {
  list-style-type: none;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 300px;
}

ul.recipe-list a {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: underline;
}

.ingredients,
.instructions {
  max-width: 600px;
}

input {
  width: 350px;
  height: 20px;
  border: 1px solid #999999;
  padding: 5px;
  font-size: 18px;
}
