body {
  font-size: 18px;
  background-color: #fffaf2;
  font-family: system-ui, "Avenir", "Helvetica", sans-serif;
  max-width: 650px;
}

main {
  margin: 0 20px;
  max-width: 650px;
}

h1,
h2,
h3 {
  margin-bottom: 0;
  color: #ff6400;
}

ul.recipe-list {
  font-size: 20px;
  padding-left: 0;
  margin-left: 0;
  margin-top: 5px;
  list-style-type: none;
}

ul.recipe-list a {
  text-decoration: none;
}

li.favorite {
  list-style-type: "★ ";
}

li + li {
  margin: 5px 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

/*input {*/
/*  width: 350px;*/
/*  height: 20px;*/
/*  border: 1px solid #999999;*/
/*  padding: 5px;*/
/*  font-size: 18px;*/
/*}*/

@media print {
  body {
    font-size: 16px;
    color: #fff;
    background-color: #000;
    /*column-count: 2;*/
  }
  h1,
  h2,
  h3 {
    color: #fff;
  }
  ul.recipe-list {
    font-size: inherit;
  }
  header,
  footer {
    display: none;
  }
  li + li {
    margin: 0;
  }
}
